#################################################################################################
#                                                                                               #
# High-level project requirements in floating mode (i.e. w/o dependencies and versions).        #
#                                                                                               #
# Only used to track the high-level dependencies of example_web_app in addition to be used to track      #
#   upgrades to such pip dependencies.                                                          #
#                                                                                               #
# DO NOT use this file to resolve dependencies when installing the project. Please refer to     #
#   `setup.py` or `make install` to know more about the installation process.                   #
#                                                                                               #
#################################################################################################
aiohttp
aiohttp-swagger     # swagger
aiohappyeyeballs    # aiohttp dep
aiosignal           # aiohttp dep
attrs			    # aiohttp dep
frozenlist          # aiohttp dep
multidict		    # aiohttp dep
propcache           # aiohttp dep
psycopg2-binary
sentry-sdk          # error tracking (replaces raven)
SQLAlchemy
ujson
uvloop
yarl			    # aiohttp dep
