aiohttp==3.4.4
aiohttp-swagger==1.0.5
aiotask-context==0.5.0
alembic==1.0.0
async-timeout==3.0.0
attrs==18.2.0
chardet==3.0.4
idna==2.7
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
multidict==4.4.2
psycopg2-binary==2.7.5
python-dateutil==2.7.3
python-editor==1.0.3
PyYAML==3.13
raven==6.9.0
raven-aiohttp==0.7.0
six==1.11.0
SQLAlchemy==1.2.12
ujson==1.35
uvloop==0.11.2
yarl==1.2.6